@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
// css reset
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

button {
  border: none;
}

//variables
$fontSize: 1.2rem;

//mixins

@mixin actionButton($background) {
  background-color: $background;
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}
